.post-card {
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 250ms all;
}

.card:hover {
  transform: scale(1.02);
  opacity: .9;
}


.post-card-image {
  width: 300px;
}

.post-card a {
  text-decoration: underline;
  letter-spacing: .7px;
}

@media (max-width: 500px) {
  .post-card {
      padding: 10px;
      padding-bottom: 25px;
      margin: 10px;
      margin-top: 0px;
      padding-top: 0px;
  }
  .post-card-image {
      width: 180px;
      padding: 10px;
      margin: 4px;
  }
}