.posts {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 10px;
}

select {
    cursor:pointer;
    border: none;
    font-size: 18px;
}

@media (max-width: 500px) {
    .posts {
        width: 100%;
        justify-content: space-around;
    }
}